#hero2 {
  width: 100%;
  height: 100vh;
  background: url("images/nightCityscape.png") top center;
  background-size: cover;
  position: relative;
}

@keyframes shmove {
  0% {left:0px; top:0px;}
  6% {left:125px; top:20px;}
  12% {left:250px; top:40px;}
  18% {left:375px; top:20px;}
  25% {left:500px; top:0px;}
  31% {left:625px; top:-20px;}
  37% {left:750px; top:-40px;}
  43% {left:875px; top:-20px;}
  50% {left:1000px; top:0px;}
  56% {left:875px; top:20px;}
  62% {left:750px; top:40px;}
  68% {left:625px; top: 20px;}
  75% {left:500px; top:0px;}
  81% {left:375px; top:-20px;}
  87% {left:250px; top:-40px;}
  93% {left:125px; top:-20px;}
  100% {left: 0px; top:0px;}
}

.heli {
  display: block;
  position: relative;
  animation-name: shmove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
